In [16]:
import pandas as pd
import numpy as np
from urllib.request import urlopen
import json
import requests

In [13]:
file = urlopen('https://www.wunderground.com/about/faq/US_cities.asp')
type(file)

http.client.HTTPResponse

In [83]:
page = requests.get('https://www.wunderground.com/about/faq/US_cities.asp')
txt = page.text
first_point = txt.index('Central')
end_point = txt.index('Peipeinimaru')
new_txt = txt[first_point:end_point]

In [160]:
txt_list = list(new_txt)
txt_list.insert(0,'\n')
length = txt_list.count('\n')
n = np.arange(length)
zeros = np.zeros((length,2))
df = pd.DataFrame(zeros, index = n, columns =['city', 'state'])

city = ' '
state = ' ' 
space_index = 0
init_index = 0
entries = txt_list.count('\n')
for i in range(entries-1):
        space_index = txt_list.index(' ')
        city = get_str(init_index,space_index)
        state = get_str(init_index+30,init_index+33)
        df['city'][i] = city
        df['state'][i] = state
        txt_list.pop(0)
        txt_list = txt_list[txt_list.index('\n'):]

C:\Users\syctudent\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\syctudent\Anaconda3\lib\site-packages\pandas\core\indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

             city state
0         Central    AK
1            Atka    AK
2        Buckland    AK
3         Portage    AK
4        Nivalina    AK
5         Golovin    AK
6          Kaltag    AK
7          Egegik    AK
8           Koyuk    AK
9       Chandalar    AK
10            Red    AK
11      Birchwood    AK
12           Adak    AK
13         Noatak    AK
14         Kodiak    AK
15      Anchorage    AK
16        Annette    AK
17         Barrow    AK
18           Cold    AK
19     Dillingham    AK
20      Fairbanks    AK
21      Galbraith    AK
22          Homer    AK
23         Juneau    AK
24        McGrath    AK
25       Mekoryuk    AK
26        Kuparuk    AK
27           Nome    AK
28       Kotzebue    AK
29          Saint    AK
...           ...   ...
1572          Big    WY
1573         Cody    WY
1574       Casper    WY
1575     Cheyenne    WY
1576     Evanston    WY
1577     Gillette    WY
1578      Jackson    WY
1579      Laramie    WY
1580       Lander    WY
1581  Yellowstone    WY
1582     Riverton    WY
1583         Rock    WY
1584      Rawlins    WY
1585     Sheridan    WY
1586      Worland    WY
1587      Buffalo    WY
1588     Greybull    WY
1589    Roosevelt    PR
1590          San    PR
1591        Ponce    PR
1592    Aquadilla    PR
1593     Mayaguez    PR
1594          St.    VI
1595          St.    VI
1596         Beef    VI
1597        Agana    GU
1598     Andersen    GU
1599         Rota    MP
1600       Saipan    MP
1601            0     0

[1602 rows x 2 columns]

In [96]:
def get_str(start, end):
    result  = str('')
    for i in range(start, end):
        result = result + str(txt_list[i])
    return result

'Central'

In [161]:
df.to_csv('US_cities.csv')